<% provide(:title, "Activity Feed") %>

<div id="page-wrapper">
<div class="row">
	<h1 class="page-header">Activity Feed</h1>
	<div class="panel panel-primary">
		<div class="panel-heading">
	  	<i class="fa fa-bar-chart-o fa-fw"></i>Past Activities
		</div>
		<div class="panel-body">
    	<div class="row">
      	<div class="col-lg-12">
      		<div class="table-responsive">
						<table class="table table-bordered table-hover table-striped">
							<thead>
						  	<th>Date</th>
							  <th>Url</th>
							  <th>No of records</th>
							  <th>&nbsp;</th>
							  <th>&nbsp;</th>
							</thead>
							<tbody>
								<% for activity in @activities %>
					  			<tr>
							  		<input type="hidden" value=<%= activity.id%>></input>
							  		<td><%= activity.crawl_time.strftime("%b %e, %Y %H:%M:%S") %></td>
							  		<td><%= activity.crawl_url%></td>
							  		<td><%= activity.no_of_records_crawled %></td>
							  		<td><%=button_to "Crawl again",crawl_url(url: activity.crawl_url), class: "btn btn-default" %></td>
							  		<td><%=link_to "View results", results_url(activity) ,class: "btn btn-default" %></td>
							  	</tr>
					  		<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>