<% provide(:title, "Dashboard") %>

<style>
	#crawl_form{
		width:100%;
		display: block;
		text-align: center;
	}
	input[type=text] {
		margin-left: auto;
		margin-right: auto;
		display: inline-block;
		width: 50%;
	}
	input[type=submit] {
		margin-left: auto;
		margin-right: auto;
		display: inline-block;
		width: 30%;
	}

</style>
<div id="page-wrapper">
<div class="row">
	<h1 class="page-header">Dashboard</h1>

	<div class="row">
    <div class="col-lg-offset-2 col-lg-3">
      <div class="alert alert-danger text-center">
        <i class="fa fa-link fa-3x"></i>&nbsp;<b><%= @total_url_crawled%></b> urls crawled
      </div>
    </div>
    <div class="col-lg-offset-2 col-lg-3">
      <div class="alert alert-success text-center">
          <i class="fa  fa-bell fa-3x"></i>&nbsp;<b> <%= @total_data_extracted%></b> data fields extracted 
      </div>
  	</div>
	</div>

	<div class="row">
    <div class="col-lg-6">
      <div class="page-header">
      </div>
	      <div class="jumbotron">
	      	<div class="loading" style="display:none">
	      		<i class="fa-spinner fa fa-spin fa-5x fa-fw"></i>
	      	</div>
          <%= form_tag(crawl_url, remote: true, id: "crawl_form") do %>
          	<div class="form-group">
							<%= text_field_tag :url, "Enter some url...", id: 'url_entry' %>
						</div>
						<%= button_tag "Crawl", class: "crawl-btn btn btn-primary btn-md" %>
					<% end %>
			  </div>
			  <span id="load_msg" style="display:none"><b>Loading...</b></span>
    </div>
		<div class="col-md-6">
			<div class="page-header">
			</div>
		 	<div class="panel panel-primary">
	      <div class="panel-heading">
	        <h3 class="panel-title"><i class="fa fa-rss"></i> Recent Activities</h3>
	      </div>
	      <div class="panel-body feed">
	      	<% for activity in @activities %>
			      <section class="feed-item">
			        <div class="icon pull-left">
			          <i class="fa fa-check"></i>
			        </div>
			        <div class="feed-item-body">
			        	<div class="text">
			        		<a href=<%=results_url(activity.id)%>><%= activity.crawl_url%></a>
			        		<span style="float: right;color: red"><%= activity.crawl_time.to_date %></span>
			        	</div>
			      	</div>
			      </section>
		   		<% end %>
			   	<section class="feed-item">
	    	    <div class="icon pull-left">
		          <i class="fa fa-arrow-down"></i>
		        </div>
		        <div class="feed-item-body">
		          <div class="text">
		            <a href=<%= activity_url %>>Load more...</a>
		          </div>
		        </div>
		   		</section>
	 	    </div>
	 	  </div>
		</div>
	</div>
 </div>
</div>


<script>

$(document).on("click", ".crawl-btn", function(){
 $('#load_msg').show();
});

$(document).ready(function(){
    $(".loading").bind("ajaxSend", function() {
    	debugger
        $(this).show();
    }).bind("ajaxStop", function() {
        $(this).hide();
    }).bind("ajaxError", function() {
        $(this).hide();
    });
 
     });

$(document).on('click', '#url_entry', function(){
	if($(this).val()=="Enter some url..."){
		$(this).val("");
	};
});
	$(document).on('focusout', '#url_entry', function(){
		if($(this).val()==''){
			$(this).val("Enter some url...");
		};
	});
</script>

