<%- headers = ['Title', 'Rating', 'Orig Price', 'Discount Price'] -%>
<%= CSV.generate_line headers %>
<%- @data.each do |product| -%>
<%= CSV.generate_line([product.title, product.rating, product.orig_price, product.discount_price]) -%>
<%- end -%>