<% provide(:title, "Results") %>

<style>
	table th {
		background-color: #3399cc;
	}
	table tr{
		background-color: #99cccc;
	}
</style>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs-3.3.6/jq-2.2.3,dt-1.10.12,b-1.2.1,b-flash-1.2.1/datatables.min.css"/>

<div id="page-wrapper">
<div class="row">
	<h1 class="page-header">Results</h1>
<div class="panel panel-default">
	<div class="panel-heading">
   <b>Source:</b> <%= @activity.crawl_url %>
   <span style="float:right"><b>Date crawled:</b> <%= @activity.crawl_time.strftime("%b %e, %Y") %></span>
	</div>

	
	<div class="panel-body">
	
	  <div class="table-responsive">
	<div style="margin-top: 20px;margin-left:50px;margin-bottom:0">
		<%=link_to 'Download CSV', results_url(format: :csv), class: 'btn btn-success btn-md' %>
	</div>
			<table id="results-table" class="table table-bordered table-hover">
				<thead>
	  			<th>Product Title</th>
	  			<th>Rating</th>
				  <th>Original Price</th>
				  <th>Discount Price</th>
				  <th>EMI Starts at</th>
				</thead>
				<tbody>
					<% for data in @data %>
				  <tr>
				  	<td><%= data.title %></td>
				  	<td><% data.rating.to_i.times do %><span class="fa fa-star"><%end%><span>
				  		<% if data.rating && data.rating % 1 > 0.5 %>
				  			<span class="fa fa-star-half-empty" 
				  			<% end %>
				  	</td>
				  	<td>Rs. <%= data.orig_price %></td>
				  	<td>Rs. <%=data.discount_price%></td>
				  	<td>Rs. <%=data.emi %></td>
				  </tr>
				  <% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
</div>
</div>

<script>
// Refernce http://jsfiddle.net/8kez8mvy/
$(document).ready(function() {
	jQuery.extend( jQuery.fn.dataTableExt.oSort, {
	"my-currency-pre": function(a) {
     //alert(a.replace(/[^0-9]/gi, ''));
        return parseFloat(a.replace(/[^0-9]/gi, ''));
	},
	"my-currency-asc": function(a,b) {
		return ((a < b) ? -1 : ((a > b) ? 1 : 0));
	},
	"my-currency-desc": function(a,b) {
		return ((a < b) ? 1 : ((a > b) ? -1 : 0));
	}
});

  var table = $('#results-table').DataTable({
  	"dom": 'Bfrtip',
  	"buttons": ['excel', 'pdf', 'csv'],
  	"aoColumnDefs": [
  	{"sType": "my-currency", "aTargets": [2,3,4]}
  	],
  	iDisplayLength: 15
  	
  });
 });
</script>
 <link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
<!-- <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" /> -->
<link href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css" rel="stylesheet" />
 <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
