<div class="body-Login-back">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
  <div class="login-panel panel panel-default"> 
    <div class="panel-heading">
      <h3 class="panel-title">Please Sign In</h3>
    </div>        
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class:"btn btn-lg btn-success btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
  <%#= render "users/shared/links" %>
</div>