
html,body { 
  height: 100%;
}

 #wrapper {
    width: 100%;
    margin-top: 55px!important; 
    background-color:#04B173; 
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
     background-color:rgb(209, 212, 216);
}

@media(min-width:768px) 
{
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        min-height: 1000px;
       
       
    }

}

/* Login Page */

 .login-panel {
    margin-top: 15%;
}
.body-Login-back {
    background-color:#84B899;
    background-repeat: repeat-y;
    height: 100%;
    width: 100%;
}

.actions {
  margin-top: 5px;
}

#navbar {
    background-color:rgb(83, 163, 163);
}

 .navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links > li > a {
color: #FFFFFF;
}
.nav > li > a {
padding: 20px 15px;
}

/* sidebar */
.navbar-default {
  border-color: #27A6BE;
}

.navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px;
    }
.navbar-static-side ul li {
    border-bottom:1px solid #84B899 !important;
}

#side-menu {
  background-color: #04B173;
}

#side-menu a {
            color:#fff;
           border-bottom: 1px solid #84B899 !important;
           height: 55px;
        }
        .selected {
            background-color:rgb(83, 163, 163);
        }
/* back colors */
        .blue {
            background-color:rgb(113, 159, 241);
        }
         .green {
            background-color:rgb(144, 236, 192);
        }
          .red {
            background-color:rgb(255, 102, 133);
        }
        .yellow {
            background-color:rgb(237, 253, 46);
        }

/* user image section */

.user-section {
  margin-top:20px;
  font-size:22px;
  background-color:rgb(83, 163, 163);
}

.user-section-inner {
  height: 65px;
  width: 65px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  display: inline-block;
  float: left;
  margin-right: 15px;
  margin-top: 20px;
}
.user-section-inner img {
  margin-left:10px;
  width:55px;
  height:60px;
    
}
.user-info {
    display: block;
    color:#000!important;
display: inline-block;
padding: 15px;
margin-bottom: 0px
}
.user-text-online {
    font-size:18px;
    color:#fff
}
.user-circle-online {
    width: 15px!important;
    height: 15px!important;
}

/* Circle Buttons */

 .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0 !important;
    border-radius: 15px !important;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

/*Feed*/

.feed-item:before, .feed-item:after {
    content: " ";
    display: block;
    height: 11px;
}
.feed-item .icon {
    color: #333;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    padding-left: 11px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 28px;
    z-index: 1;
}
.pull-left {
    float: left;
}
.feed-item-body {
    margin-left: 40px;
    padding-top: 3px;
    vertical-align: bottom;
}
.feed-item-body .time {
    color: #D2D2D2;
    font-size: 11.05px;
    line-height: 1.5em;
}
.feed
{
    /*height: 430px;*/
    overflow: hidden;
    position: relative;
    width: auto;
    color: #F8F8F8;
}

/* spinner */

.loading{
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}